* {
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 150%;
  color: #ffffff;
}

.wrapper {
  width: 1920px;
  margin: 0 405px;
  box-sizing: border-box;
}

.landing {
  background-image: url("./assets/bgc.png");
  width: 1920px;
  height: 900px;
}

.adress {
  display: flex;
  justify-content: space-between;
  width: 1110px;
  padding: 30px 0 20px 0;
}
.menu {
  display: flex;
  justify-content: space-around;
  width: 1110px;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}
.spisok {
  display: flex;
  justify-content: center;
  padding-top: 13px;
  width: 277.5px;
  height: 30px;
  border-right: 1px solid #ffffff;
}
.spisok:nth-child(4) {
  border-right: none;
}
.buttons {
  border: none;
  width: 203px;
  height: 50px;
  background: #998431;
  margin-left: 30px;
}
.textbuttons {
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
.knopki {
  display: flex;
  justify-content: center;
  width: 1110px;
  padding-top: 585px;
}
.landing2 {
  background-color: #282828;
  width: 1920px;
  height: 856px;
}
.ramka1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1110px;
  padding-top: 91px;
}
.zagolovok {
  display: flex;
  justify-content: center;
  width: 1110px;
  padding-top: 69px;
  font-family: Playfair Display;
  font-size: 36px;
  line-height: 150%;
}
.vino {
  border: 3px solid #c4c4c4;
  width: 1110px;
  height: 665px;
}
.line1 {
  display: flex;
  justify-content: center;
  width: 1110px;
  padding-top: 40px;
}
.line {
  border-top: 1px solid #ffffff;
  width: 160px;
}
.text2 {
  display: flex;
  justify-content: center;
  width: 1100px;
  padding-top: 40px;
}
.shrift {
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  width: 733px;
  height: 192px;
}

.bokal {
  display: flex;
  justify-content: center;
  width: 1100px;
  padding-top: 50px;
}

.landing3 {
  background-color: #e6e3c4;
  width: 1920px;
  height: 1038px;
}
.line-top {
  border-bottom: 1px solid #998431;
  width: 1110px;
  padding-top: 80px;
}
.linebottom {
  border-bottom: 1px solid #998431;
  width: 1110px;
  padding-top: 80px;
}
.textandimg {
  display: flex;
  justify-content: space-between;
  width: 1110px;
  padding-top: 60px;
}
.novinki {
  display: flex;
  justify-content: flex-start;
  height: 24px;
  left: 405px;
  top: 60px;
  color: #000000;
}
.mart {
  font-family: Playfair Display;
  font-size: 36px;
  line-height: 54px;
  color: #282828;
  width: 298px;
  height: 108px;
  padding-top: 30px;
}
.line9 {
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid #282828;
  width: 160px;
  padding-top: 30px;
}
.text31 {
  color: #282828;
  font-size: 14px;
  line-height: 21px;
  width: 452px;
  height: 84px;
  padding-top: 30px;
}
.tabl {
  padding-top: 30px;
  color: black;
  width: 452px;
  height: 228;
}
.textvtabl {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #000000;
}
.textvtabl:nth-child(3) {
  border-bottom: none;
}

.nazvaniavin {
  font-family: Playfair Display;
  font-size: 18px;
  width: 303px;
  height: 27px;
}
.data {
  line-height: 60px;
}
.data:nth-child(:first) {
  line-height: 45px;
}
.obladi {
  padding-top: 15px;
  padding-bottom: 10px;
  border-left: 1px solid #000000;
  padding-left: 30px;
}
.text32 {
  color: #000000;
  width: 450px;
  height: 84px;
  padding-top: 30px;
  font-size: 14px;
  line-height: 21px;
  padding-bottom: 30px;
}
.knopka3 {
  border: none;
  width: 254px;
  height: 50px;
  background: #998431;
}
.textknopka3 {
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
.landing4 {
  background-color: #282828;
  width: 1920px;
  height: 767px;
}
.str4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1110px;
  padding-top: 109px;
}

.okno {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid #ffffff;
  width: 1110px;
  height: 438px;
  padding-top: 129px;
}
.zapis {position: fixed;
  padding-top: 100px;
  font-family: Playfair Display;
  
  font-size: 36px;
  width: 490;
  height: 74px;
  background-color: black;
}
.landing5 {
  background-color: #998431;
  width: 1920px;
  height: 220px;
}
.ddd {
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
}
.row1 {
  display: flex;
  justify-content: space-around;
  width: 1110px;
  text-align: center;
  height: 41px;
  padding-top: 19px;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}
.sss {
  display: flex;
  justify-content: space-around;
}
.row2 {
  display: flex;
  justify-content: space-around;
  width: 1110px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 19px;
  height: 35px;
  border-bottom: 1px solid #ffffff;
}
.spisok2 {
  display: flex;
  justify-content: center;
  height: 41px;
  border-right: 1px solid #ffffff;
}
